<<<<<<< HEAD
<body>
  <form action="/posts/<%= @post.id %>" method="post">
     <input id="hidden" type="hidden" name="_method" value="patch">
      <textarea name="name"><%=@post.name%></textarea>
      <textarea name="content"><%=@post.content%></textarea>
      <button id="submit">Submit</button>
  </form>
</body>
=======
<ul>
  <li><%=@post.name%></li>
  <li><%=@post.content%></li>
</ul>
>>>>>>> d6a41b55072dbcb56ada6659a64ab5c6fa0f19b6
